<%= render 'shared/header' %>

<!-- Main Section -->
<div class="row">
  <h1>   FACILITIES AND SERVICES</h1>
  <hr>
  <div class="col-md-6">
    <h3>FITNESS CENTER</h3>
    <img src="/assets/gym.jpg" alt="gym1" width="100%" height="200px">
    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

        <h3>FUN & SPORTS</h3>
        <img src="/assets/golf.jpg" alt="golf1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.<p>

        <h3>WATER SPORTS</h3>
        <img src="/assets/diving.jpg" alt="diving1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

  </div>

  <div class="col-md-6">
        <h3>SPA MASSAGE</h3>
        <img src="/assets/spa.jpg" alt="spa1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

        <h3>SWIMMING POOL</h3>
        <img src="/assets/swimming.jpg" alt="swimming1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>

        <h3>FOOD & DRINK</h3>
        <img src="/assets/food.jpg" alt="food1" width="100%" height="200px">
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui.</p>
    </div>
</div>
<br>

<%= render 'shared/footer' %>	
