<%= render 'shared/header' %>

<h2>ROOMS AND SUITES</h2>
<div class="row">
        <div class="col-md-6">

            <h3>SINGLE ROOM</h3>
            <img src="/assets/single" alt="single1" width="100%" height="200px">
            <h4>Wake up to this traditional room with 25-inch TV and on-demand movies. The comfortable room, with opening windows, has 1 single bed. Sleeps 1 adult.</h4>
            <button type="button" class="btn btn-primary btn-lg">Check Availbility</button>
        </div>

        <div class="col-md-6">

            <h3>DOUBLE ROOM</h3>
            <img src="/assets/double" alt="double2" width="100%" height="200px">
            <h4>Feel at home in this spacious room with sea views, a desk and a 21-inch TV. The bright and airy room, in calm tones, has 1 double bed. Maximum occupancy 2 adults..</h4>
            <button type="button" class="btn btn-primary btn-lg">Check Availbility</button>
        </div>

        <div class="col-md-6">

            <h3>TRIPLE ROOM</h3>
            <img src="/assets/triple" alt="triple1" width="100%" height="200px">
            <h4>A spacious room with a sea view and a 32-inch TV. The bright and airy room, in cool, calm tones, has 1 double bed and a single bed. Maximum occupancy 3 adults.</h4>
            <button type="button" class="btn btn-primary btn-lg">Check Availbility</button>
        </div>

        <div class="col-md-6">

            <h3>LUXURY ROOM</h3>
            <img src="/assets/luxury" alt="luxury1" width="100%" height="200px">
            <h4>Wrap up in a fluffy bathrobe in this spacious room with views of the sea all around. The room has 2 double beds and a balcony. Maximum occupancy 4 adults.</h4>
            <button type="button" class="btn btn-primary btn-lg">Check Availbility</button>
        </div>

</div>
<br>

<%= render 'shared/footer' %>
