<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>Hello World</p>
	<p>Hi CJ, The hosting is fucking working now. Not sure about the database now </p>
	<a class="btn btn-primary" href="#">test</a>

</body>
</html>